body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

p{
  line-height:20px;
  padding-right: 15px;
}

#events-log {
  display: inline-block;
  vertical-align: top;
  width: 340px;
  background-color: #e5e5e5;
  padding: 10px;
  min-height: 200px;
  border-radius: 10px;
}

#events-log div {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.4;
}

.popover.event-tooltip-content {
  padding: 5px;
  /*max-width: 300px;*/
}

.popover.event-tooltip-content {
  padding: 5px;
  max-width: 320px;
}

.popover.event-tooltip-content:not(:last-child) {
  border-bottom: 1px solid #ccc;
}


details {
    padding-left: 20px;
}

details > summary {
  list-style: none;
  user-select: none;
  outline: 0;
}


.details-white summary::before {
    content: '';
    position: absolute;
    width: 1em; height: 1em;
    margin: .2em 0 0 .5ch;
    background: url(./icons/arrow-on-white.svg) no-repeat;
    background-size: 100% 100%;
    transition: transform .2s;
    margin-left:-20px;
}
.details-white:not([open]) summary::before {
    margin-top: .25em;
    transform: rotate(90deg);    
}


.details-black summary::before {
    content: '';
    position: absolute;
    width: 1em; height: 1em;
    margin: .2em 0 0 .5ch;
    background: url(./icons/arrow-on.svg) no-repeat;
    background-size: 100% 100%;
    transition: transform .2s;
    margin-left:-20px;
}
.details-black:not([open]) summary::before {
    margin-top: .25em;
    transform: rotate(90deg);    
}

details + dl {
    max-height: 0;
    transition: max-height .25s;
    overflow: hidden;
    margin-bottom: 0px;
}
[open] + dl {
    /*max-height: 100px;*/
    max-height: 1000px;
}




.navList{
  padding-left: 20px;
  margin: 0px;
  font-size: 15px;
  line-height: 10px:;
}

.nav-list a {
    float: left;
    width: 100px;
    /*padding: 20px 0;*/
    /*line-height: 1;*/
    text-align: left;
    color: white;
    text-decoration: none;
  
  margin: 0px;
  font-size: 15px;
  line-height: 10px:;
}
.nav-list a:hover{
  color: orange;
  text-decoration: none;
}
.nav-list a.active {
    color: orange;
}


